asgiref==3.8.1
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.1.0
cryptography==44.0.0
docutils==0.21.2
filelock==3.17.0
h2==4.2.0
HTMLParser==0.0.2
httpx==0.24.1
importlib_metadata==8.6.1
ipython==8.32.0
ipywidgets==8.1.5
keyring==25.6.0
langchain_openai==0.3.4
MIDIUtil==1.2.1
music21==9.3.0
numpy==2.2.2
openai==1.61.1
Pillow==11.1.0
pinecone==6.0.0
protobuf==5.29.3
pyOpenSSL==25.0.0
python-dotenv==1.0.1
redis==5.2.1
simplejson==3.19.3
Sphinx==8.1.3
thread==2.0.5
urllib3_secure_extra==0.1.0
watchdog==6.0.0
zstandard==0.23.0
flask==3.1.0
flask-cors==5.0.1
mido==1.3.3
supabase==2.0.3
